*{
   margin: 0;
   padding: 0;
   background-color: #607d8b;
}
/* body{
    background-color: #607d8b;
    box-sizing: border-box;
}
nav{
    background-color: #387c97;
width: 100%;
max-width: 956px;
margin: 0 auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 5px 6px 25px 5px #f0adc7;
}
nav ul li{
    padding: 15px;
    color: #f1f1f1;
    font-size: 15px;
    text-transform: capitalize;
}
nav ul li:hover{
    background-color: #408caa;
    color: #31c238;
    cursor: pointer;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    
} */
.per{
    position: absolute;
    top:calc(50% - 150px);
    left: calc(50% - 100px);
    transform: perspective(1000px)rotateY(-45deg);
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    
    /* background-color: #fff; */
}
.per::before{
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    filter: blur(40px);
    opacity: 0.5;
    transform: rotateX(90deg);

}
.per .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: lower 8s linear infinite;
  

}

span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#f1f1f1,#bbb,#f1f1f1);
    border-radius: 19px;
}
.per span:nth-child(1){
    transform: rotateX(0deg);
}
.per span:nth-child(2){
    transform: rotateX(45deg);
}
.per span:nth-child(3){
    transform: rotateX(-45deg);
}
.per span:nth-child(4){
    transform: rotateX(90deg);
}
@keyframes lower{
    0%{
        transform: perspective(1000px) rotateX(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateX(359deg);
    }
}
/* 


@media screen and (min-width:720px){
    nav ul{
        display: flex;
        justify-content: start;
    }
} */